<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- joint's limits -->
    <xacro:property name="hip_high_limit" value="1.047198"/>
    <xacro:property name="hip_low_limit" value="-1.047198"/>
    <xacro:property name="knee_high_limit" value="2.094395"/>
    <xacro:property name="knee_low_limit" value="-2.094395"/>
    <xacro:property name="velocity" value="1"/>
    <xacro:property name="effort" value="10"/>

    <!-- joint's dynamics -->
    <xacro:property name="use_dynamics" value="true"/>
    <xacro:macro name="hip_joint_dynamics">
        <dynamics damping="0.01" friction="10000"/>
    </xacro:macro>
    <xacro:macro name="knee_joint_dynamics">
        <dynamics damping="0.01" friction="10000"/>
    </xacro:macro>

    <xacro:property name="wheel_radius" value="0.0855"/>
    <xacro:property name="wheel_lenght" value="0.045"/>

    

</robot>
